body {
  --bdt-scales-p-spacing: 1rem;
  --bdt-scales-list-spacing: 0.3em;
  --bdt-scales-list-font-size-scale-factor: 0.95;
  --bdt-scales-line-height: 1.5;
  --bdt-scales-h-font-size-scale-factor: 1.1;
  --bdt-scales-h-line-height-scale-factor: 1;
}

body {
  --p-spacing: var(--bdt-scales-p-spacing);
  --list-spacing: var(--bdt-scales-list-spacing);
  --line-height-normal: var(--bdt-scales-line-height);

  @for $i from 1 through 6 {
    --h#{$i}-size: calc(
      var(--font-text-size) *
        pow(var(--bdt-scales-h-font-size-scale-factor), #{7-$i})
    );
  }

  @for $i from 1 through 6 {
    --h#{$i}-line-height: calc(
      pow(var(--bdt-scales-h-line-height-scale-factor), #{7-$i})
    );
  }

  .markdown-source-view {
    // For levels 6+
    .cm-content > .cm-line.HyperMD-list-line {
      font-size: calc(
        var(--font-text-size) *
          pow(var(--bdt-scales-list-font-size-scale-factor), 6)
      );
      .cm-hmd-list-indent {
        font-size: var(--font-text-size);
        line-height: 1px;
      }
    }
    // For levels 1-6
    @for $i from 6 through 1 {
      .cm-content > .cm-line.HyperMD-list-line-#{$i} {
        font-size: calc(
          var(--font-text-size) *
            pow(var(--bdt-scales-list-font-size-scale-factor), #{$i - 1})
        );
      }
    }
  }

  .markdown-rendered {
    li {
      font-size: calc(
        var(--font-text-size) *
          pow(var(--bdt-scales-list-font-size-scale-factor), 6)
      );
    }
    @for $i from 6 through 1 {
      $sel: "";
      @for $i from 1 through 6 {
        $sel: if($i == 1, "ul>li", selector-nest($sel, ">ul>li"));

        #{$sel} {
          font-size: calc(
            var(--font-text-size) *
              pow(var(--bdt-scales-list-font-size-scale-factor), #{$i - 1})
          );
        }
      }
    }
  }
}

@import "_scales.yaml";
