

.theme-dark {
  $colors: #64e764, #ff9464, #84ff8f, #64ffff, #e7ff64, #ff64ff, #ffca64;
  .publish-renderer,
  .markdown-source-view,
  .markdown-reading-view {
    // Headers
    @for $i from 1 through 6 {
      --h#{$i}-color: color-mix(in srgb, #{nth($colors, $i)}, gray 50%)
    }

    // Lists
    @for $i from 1 through 7 {
      &.mod-cm6 .cm-content > .cm-line.HyperMD-list-line-#{$i} {
        --list-marker-color: #{nth($colors, $i)};
        color: color-mix(in srgb, #{nth($colors, $i)}, #999 40%);
      }
    }
  }
}

.theme-light {
  .publish-renderer,
  .markdown-source-view,
  .markdown-reading-view {
    // Headers
    --h1-color: color-mix(in srgb, black, white 30%);
    --h2-color: color-mix(in srgb, black, white 20%);
    --h3-color: color-mix(in srgb, black, white 20%);
    --h4-color: color-mix(in srgb, black, white 10%);
  }

}
