@use "sass:math";

.publish-renderer,
.markdown-source-view,
.markdown-reading-view {

  //--p-spacing: 0;

  --ms-0: 1em;

  // Modular scale $numerator:$denominator

  $numerator: 9;
  $denominator: 10;

  $lastUp: 1em;
  $lastDown: 1em;

  @for $i from 1 through 6 {
    $lastUp: math.div($lastUp * $denominator, $numerator);
    --ms-#{$i}: #{$lastUp};
  }

  @for $i from 1 through 6 {
    $lastDown: math.div($lastDown * $numerator, $denominator);
    --ms--#{$i}: #{$lastDown};
  }

  --list-spacing: calc(var(--ms--4) / 2);

  @for $i from 1 through 6 {
    --h#{$i}-size: var(--ms-#{7-$i})
  }

  @for $i from 1 through 6 {
    h#{$i} {
      margin: 1em 0;
    }
  }

}
