@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght,GRAD@100..1000,-200..150");

.publish-renderer,
.markdown-source-view,
.markdown-preview-view {
  --font-text: 'Roboto Flex';
}

.theme-dark {
  .publish-renderer,
  .markdown-source-view,
  .markdown-preview-view {
    --bdt-font-weight: 300;
    --bdt-letter-spacing: 0.02em;
    --h-weight: 640;
    --bold-weight: 600;
    --italic-weight: 500;
    font-variation-settings: "GRAD" -150;
  }
}

.theme-light {
  .publish-renderer,
  .markdown-source-view,
  .markdown-preview-view {
    --bdt-font-weight: 400;
    --bdt-letter-spacing: 0;
    --h-weight: 640;
    --bold-weight: 600;
    --italic-weight: 500;
  }
}

@import "./_text.scss";

